<div class="header clearfix">
    <a href="{% url 'primary:index' %}" class="logo"></a>
    <ul class="menu">
        <li><a href="{% url 'primary:index' %}" class="active">домой</a></li>
        <li><a href="{% url 'primary:products' %}">продукты</a></li>
        <li><a href="{% url 'primary:contact' %}">контакты</a></li>

        <li>
        {% if user.is_authenticated %}
            <a href="{% url 'auth:edit'%}">
                {{ user.first_name|default:"Клиент"|capfirst }}
            </a>
        {% endif %}
        </li>


        <li>
            {% if user.is_authenticated %}
                <a href="{% url 'auth:logout'%}">
                    выйти
                </a>
            {% else %}
                <a href="{% url 'auth:login'%}">
                    войти
                </a>
            {% endif %}
        </li>
        <li>{% now 'd.m.y H:i' %}</li>
    </ul>
    <a href="#" class="search"></a>
<!--        {% now 'd.m.y H:i' %}-->
</div>
