<div class="header clearfix">
    <a href="{% url 'main' %}" class="logo"></a>
<!--    namespace="{{ request.resolver_match.namespace }}"-->
<!--    url_name="{{ request.resolver_match.url_name }}"-->
    <ul class="menu">
        <li><a href="{% url 'main' %}"
               class="{% if request.resolver_match.url_name == 'main' %}active{% endif %}">домой</a></li>
        <li><a href="{% url 'primary:index' %}"
               class="{% if request.resolver_match.namespace == 'primary' %}active{% endif %}">продукты</a></li>
        <li><a href="{% url 'contact' %}"
               class="{% if request.resolver_match.url_name == 'contact' %}active{% endif %}">контакты</a></li>

        {% if user.is_authenticated %}
        <li>
            <div class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {{ user.first_name|default:"Клиент"|capfirst }}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    {% if user.is_superuser %}
                    <li>
                        <a href="{% url 'console:users' %}">админка</a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'auth:edit'%}">
                            профайл
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            заказы
                        </a>
                    </li>
                    <li>
                            <a href="{% url 'auth:logout'%}">
                                выйти
                            </a>
                    </li>
                </ul>
            </div>
        </li>
        {% else %}
        <li>
            <a href="{% url 'auth:login'%}">
                войти
            </a>
        </li>
        {% endif %}

<!--        <li>{% now 'd.m.y H:i' %}</li>-->
    </ul>
    <a href="#" class="search"></a>
    <a href="{% url 'cart:cart' %}" class="basket">
        <span>
            {% if cart_items %}
                {{ cart_items.0.total_cost|floatformat:0 }} руб ({{ cart_items.0.total_quantity }} шт)
            {% endif %}
        </span>
    </a>
    </div>
