{% extends 'authapp/base.html' %}
{% load static %}

{% block container %}
    <div class="h2 text-center head">
        {{ page_title|capfirst }}
    </div>
    <form action="" class="form-horizontal" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <input type="submit" class="form-control" value="{{ buttontext|default:'отправить форму' }}">
    </form>
    <a href="{% url 'primary:index' %}" class="btn btn-round form-control">
        на главную
    </a>

{% endblock %}
