{% extends 'adminapp/base.html' %}
{% load static %}
{% load my_tags %}


{% block content %}
    <div class="products_list">
		<button class="new_product">
			<a href={% url 'console:good_new' category.pk %}>новый продукт</a>
		</button>
		
		{% for object in objects %}
			<div class="product_record {% if not object.is_active %}not_active{% endif %}">
				<img src="{{ object.image|media_folder_products }}" alt="{{ object.name }}">
				<div class="product_name">
					{{ object.name|capfirst }}
				</div>
				<div class="product_actions">
					<button>
						<a href={% url 'console:good_read' object.pk %}>карточка товара</a>
					</button>
					<button>
						<a href={% url 'console:good_update' object.pk %}>редактировать</a>
					</button>
					<button>
						<a href={% url 'console:good_delete' object.pk %}>удалить</a>
					</button>
				</div>
				<div class="summary">
					<b>цена</b>
					<p>{{ object.price }} руб</p>
					<b>количество</b>
					<p>{{ object.quantity }}</p>
				</div>
				<div class="product_desc">
					{{ object.short_desc|capfirst }}
				</div>
			</div>
		{% endfor%}
	</div>
{% endblock %}
