{% extends 'authapp/base.html' %}
{% load static %}


{% block container %}
    <div class="h2 text-center head">
        {{ page_title|capfirst }}
    </div>
    {{ message }}
    <form class="form-horizontal" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <input class="form-control" type="submit" value="сохранить">
    </form>
    <button class="btn btn-round form-control last">
        <a href="{% url 'console:users' %}">
            к списку пользователей
        </a>
    </button>
{% endblock %}
