{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
		<div class="hero">
			{% include "mainapp/includes/main_menu.html" %}
			<h1>наши контакты</h1>
		</div>
		<div class="location">
			{% for elem in locations %}
				<div class="location-1">
				<i class="fa fa-map-marker fa-5x"></i>
				<h4>{{ elem.city }}</h4>
				<div class="contacts">
					<h5>Телефон</h5>
					<p>{{ elem.phone }}</p>
				</div>
				<div class="contacts">
					<h5>Email</h5>
					<p>{{ elem.email }}</p>
				</div>
				<div class="contacts">
					<h5>Адрес</h5>
					<p>{{ elem.address}}</p>
				</div>
			</div>
			{% endfor %}
		</div>
{% endblock %}
