{% extends 'mainapp/base.html' %}
{% load static %}
{% load my_tags %}
{% block css%}
	{{ block.super }}
{% endblock%}

{% block menu %}
		<div class="slider">
			{% include "mainapp/includes/main_menu.html" %}
			<div class="text-slider">
				<h3 class="green">тенденции</h3>
				<h3 class="big"> удобные стулья</h3>
				<p>Новый уровень комфорта. Отличные характеристики.</p>
				<a href="{% url 'primary:index' %}" class="button-order">заказать
					<img src="{% static 'images/arrow.png' %}" alt=""></a>
			</div>
			<div class="navi">
				<a href="#"></a><a href="#"></a><a href="#"></a>
			</div>
		</div>
{% endblock %}

{% block content %}
		<div class="featured">
			<div class="featured-menu">
					<a class="active" href="#">Популярные</a>
<!--					<a href="#">Новинки</a>-->
			</div>
			<a class="explore" href="{% url 'primary:category' 0 %}">показать все
				<img src="{% static 'images/arrow.png' %}" alt=""></a>
			<div class="clearfix">
			</div>
			<div class="tab-content">
			{% for good in same_goods %}
				<div class="block">
					<a href="{% url 'primary:product' good.pk good.slug %}">
						<img style="width: 370px;" src="{{ good.image|media_folder_products }}"
							 alt="{{ good.short_desc }}">
						<div class="text">
							<img src="{% static 'images/icon-hover.png' %}" alt="{% static '' %}">
							<h4>{{ good.name }}</h4>
							<p>{{ good.description }}</p>
						</div>
					</a>
				</div>
			{% endfor %}
			</div>
		</div>
<!--    <div class="clr"></div>-->
{% endblock %}
